*{
	text-decoration: none;
	margin: 0px;
	font-family: Verdana;
}

body {
	background : white;
}

footer{
	clear: both;
	height : 120px;
	width : 70%;
	margin-bottom:auto;
	padding: 15px;
	background-color: DimGrey;
	margin-top : 5%;
	margin-left : 15%;
}

footer h1 {
	text-align : center;
}

section {
	margin-top : 4%;
}

nav{
	margin-top : 1%;
	margin-left : 25%;
	position: relative;
	background-color: #3876D6;
	width : 50%;
}

nav ul li{
	display: inline-block;
	position: relative;
	padding: 15px;
	margin-left : 6%;
	margin-top : 10px;
	margin-bottom : 10px;
	color: black;
	border-radius:15px 15px 15px 15px;
}

nav ul li a{
	color: black;
	border-radius: 0px;
}

nav ul li:active{
	font-size: 16px;
}

#home h1 {
	text-align : center;
	font-size: 50px;
}

#connexion h1 {
	margin-top : 2%;
	margin-left : 33%;
	margin-right : 25%;
	font-size: 50px;
}

#connexion h2 {
	margin-left : 35%;
	font-size: 20px;
}

#connexion {
	display: inline-block;
	position: relative;
	margin-left : 15%;
	padding-left : 5%;
	background-color: white;
	border-radius:50px 50px 50px 50px;
	width : 65%;
	border: 2px solid black;
}

#connexion label {
	padding-right : 20px;
	font-size: 20px;
}
#connexion input {
	display: inline-block;
	position: relative;
	padding-right : 20px;
	font-size: 20px;
	margin-right : px;
	border: 2px solid black;
}

#connexion button {
	margin-left : 38%;
	font-size: 20px;
	margin-bottom : 2%;
	border: 2px solid black;
}

img {
	margin-left : 42%;
}

#inscription {
	display: inline-block;
	position: relative;
	margin-left : 15%;
	padding-left : 5%;
	background-color: white;
	border-radius:50px 50px 50px 50px;
	width : 65%;
	border: 2px solid black;
}

#inscription h1 {
	margin-top : 2%;
	margin-left : 25%;
	margin-right : 25%;
	font-size: 50px;
}

#inscription label {
	padding-right : 20px;
	font-size: 20px;
}
#inscription input {
	display: inline-block;
	position: relative;
	padding-right : 20px;
	font-size: 20px;
	margin-right : 60px;
	border: 2px solid black;
}

#inscription button {
	margin-left : 35%;
	font-size: 20px;
	margin-bottom : 2%;
	border: 2px solid black;
}

#label1 {
	margin-right : 3.8%;
}

#label2 {
	margin-right : 5.8%;
}

#label3 {
	margin-right : 6.2%;
}

#label4 {
	margin-right : 4.6%;
}

#Aoffre {
	display: inline-block;
	position: relative;
	float : left;
	width : 15%;
	background : white;
	border-right: 2px solid black;
}

#Aoffre2 {
	display: inline-block;
	position: relative;
	float : right;
	width : 35%;
	background : white;
	border-left: 2px solid black;
}

#Aoffre2 p {
	display: inline-block;
	position: relative;
	margin-top : 1%;
	margin-left : 2%;
}
	
#Aoffre p {
	display: inline-block;
	position: relative;
	margin-top : 1%;
	margin-left : 2%;
	padding-right : 14%;
}

#Soffre {
	display: inline-block;
	position: relative;
	width : 45%;
	margin-left : 1%;
	background : white;
}

#Roffre {
	padding-top : 1%;
	padding-bottom : 1%;
}

#Roffre label {
	margin-left : 1%;
	padding-right : 26.5%;
}

#Roffre p {
	display: inline-block;
	position: relative;
	margin-top : 1%;
	margin-left : 2%;
	padding-right : 14%;
}

#Roffre input {
	margin-left : 1%;
	margin-right : 1%;
	padding : 5px;
	padding-right : 100px;
	border: 2px solid black;
}

#Roffre button {
	margin-left : 5%;
	text-align : center;
	width : 15%;
	height : 50%;
	border: 2px solid black;
}

#offre1{
	display: inline-block;
	position: relative;
	width : 80%;
	margin-left : 1%;
	margin-top : 2%;
	margin-bottom : 2%;
	background : white;
	border: 2px solid black;
}

#offre1 p {
	display: inline-block;
	position: relative;
	margin-top : 1%;
	margin-bottom : 1%;
	margin-left : 2%;
}

#offre1 button {
	display: inline-block;
	position: relative;
	margin-left : 70%;
	text-align : center;
	width : 15%;
	height : 50%;
	border: 2px solid black;
}
